/* @import url('https://fonts.googleapis.com/css?family=Birthstone+Bounce:wght@500'); */

.header {
  background: #f9b713;
  height: 200px;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-family:'Birthstone Bounce', cursive;
  font-size: 4rem;
}
